# SPDX-FileCopyrightText: 2020-2021 Robin Schneider <ypid@riseup.net>
#
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{Makefile*,*.mk}]
indent_style = tab

[*.{html,json}]
indent_size = 2

# Minified JavaScript files shouldn't be changed.
[**.min.js]
indent_style = ignore
insert_final_newline = ignore

# Batch files use tabs for indentation.
[*.bat]
indent_style = tab

[*.{yml,yaml}]
indent_size = 2

# Patch files
[*.patch.*]
trim_trailing_whitespace = false
