[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-visual-star-search"]
	path = .vim/bundle/vim-visual-star-search
	url = git://github.com/bronson/vim-visual-star-search.git
[submodule ".vim/bundle/tComment"]
	path = .vim/bundle/tComment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/vim-bad-whitespace"]
	path = .vim/bundle/vim-bad-whitespace
	url = git://github.com/bitc/vim-bad-whitespace.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
