[user]
	name = Robin Schneider
	email = ypid@riseup.net
[color]
	ui = auto
	status = auto
	branch = auto
[pack]
	threads = 0
[alias]
	wd = diff --color-words
	re = remote -v
	cil = commit --reedit-message=HEAD --reset-author
	cii = commit --all -m 'Initial commit.'
	cia = commit --all -m 'Auto commit without commit message.'
	co = checkout
	br = branch --all
	lgn = log --pretty=oneline --abbrev-commit --show-notes=* --show-signature
	; lg = log --graph --pretty=format:'%Cred%h..%Creset - %s %Cgreen(%cr)%Creset - %an' --abbrev-commit --date=relative
	v = fsck --full --unreachable --strict --no-dangling
	s = shortlog -sn
	c = cal --unicode
	; https://github.com/k4rthik/git-cal.git
[core]
	excludesfile = ~/.gitignore_global
	editor = vi
[github]
	user = ypid
[log]
	date = local
[push]
	default = simple
[annex]
	backends = SHA512E
	diskreserve = 600 megabyte
	largefiles = not include=*.git*
[tig]
	show-line-numbers = yes
[commit]
	gpgsign = true
