[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh-custom/plugins/git-annex"]
	path = .oh-my-zsh-custom/plugins/git-annex
	url = https://github.com/Schnouki/git-annex-zsh-completion.git
[submodule ".oh-my-zsh-custom/plugins/more-completions"]
	path = .oh-my-zsh-custom/plugins/more-completions
	; url = https://github.com/shkumagai/my-zsh-completions.git
	url = https://github.com/ypid/my-zsh-completions.git
[submodule ".oh-my-zsh-custom/plugins/zsh-compdef"]
	path = .oh-my-zsh-custom/plugins/zsh-compdef
	url = https://github.com/thrig/zsh-compdef.git
[submodule ".oh-my-zsh-custom/plugins/zsh-completions"]
	path = .oh-my-zsh-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
