## temp LaTeX files
*.pdf
*.*~
*.#1
*.4tc
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*-blx.bib
*.run.xml
#*.CountCompile
*.glg
*.glo
*.gls
*.gnuplot
*.idx
*.ilg
*.ist
*.lg
*.ind
*.lis
*.lof
*.log
*.lot
*.lox
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.nls
*.out
*.ptc1
*.slg
*.snm
*.sty.backup
*.syi
*.synctex.gz
*.tdo
*.tex.backup
*.tmp
*.toc
*.tpm
*.tpt
*.vrb
*.xref
*.exitCode
*.stderr
*.stdout
*.bashful
## C files
*.o
*.d
*.lst
