# #!/usr/bin/perl
snippet #!/
	#!/usr/bin/env perl
	use strict;
	use warnings;
	use autodie;
	use feature qw(say);
	use utf8;
	binmode STDOUT, ':encoding(UTF-8)';

	${1}
	# /something/xms
	# x: Extended Formatting
	# m: Line Boundaries (^ and $ -> \n matching)
	# s: Matching Anything with the .	[^\n]
