snippet date "Current date" w
`!v strftime("%Y-%m-%d")`
endsnippet

snippet tex "Expand tex to TeX" w
TeX
endsnippet

snippet latex "Expand latex to LaTeX" w
LaTeX
endsnippet

snippet sig "my signature" !b
# @author `git config --get user.name` <`git config --get user.email`>
# @licence GPLv3 <http://www.gnu.org/licenses/gpl.html>
endsnippet
