snippet #! "My Perl preamble" !b
#!/usr/bin/env perl
use strict;
use warnings;
use autodie;
use boolean;
use feature qw(say);
use utf8;
use open qw(:std :utf8);
binmode STDOUT, ':encoding(UTF-8)';

${1:
# /something/xms
# x: Extended Formatting
# m: Line Boundaries (^ and $ -> \n matching)
# s: Matching Anything with the .	[^\n]
#
# `use feature 'signatures'` is experimental? WTF Perl?}
endsnippet

snippet cl "Console log" b
warn print "$1\n";
endsnippet
