{% extends "README.md.j2" %}

{# Badges ((( #}
{% block badges %}
{% if ansigenome_info.travis|d() %}
[![Travis CI](http://img.shields.io/travis/{{ scm.user + '/' + role.slug }}.svg?style=flat)](http://travis-ci.org/{{ scm.user + '/' + role.slug }})
{% endif %}
{% if ansigenome_info.galaxy_url|d() %}
[![Ansible Galaxy](http://img.shields.io/badge/galaxy-{{ role.galaxy_name | replace('-', '--')}}-660198.svg?style=flat)]({{ ansigenome_info.galaxy_url }})
{% endif %}
{% if galaxy_info.platforms|d() %}
[![Platforms](http://img.shields.io/badge/platforms-{{ galaxy_info.platforms | map(attribute='name') | sort | join('%20/%20') | lower }}-lightgrey.svg?style=flat)](#)
{% endif %}
[![GitHub Tags](https://img.shields.io/github/tag/{{ scm.user + '/' + role.slug }}.svg)](https://github.com/{{ scm.user + '/' + role.slug }})
[![GitHub Stars](https://img.shields.io/github/stars/{{ scm.user + '/' + role.slug }}.svg)](https://github.com/{{ scm.user + '/' + role.slug }})
{%- endblock %}{# ))) #}

{# Description ((( #}
{% block synopsis %}
{% if galaxy_info.description|d() %}
{{ galaxy_info.description | trim }}
{% endif %}

{% if ansigenome_info.synopsis|d() %}
{{ ansigenome_info.synopsis | trim }}
{% endif %}
{% endblock %}
{# ))) #}

{# Installation ((( #}
{% block installation %}
{% if ansigenome_info.galaxy_url|d() %}
### Installation

This role requires at least Ansible{% if galaxy_info.min_ansible_version|d() %} `v{{ galaxy_info.min_ansible_version }}`{% endif %}. To install it, run:

```Shell
ansible-galaxy install {{ role.galaxy_name }}
```
{% endif %}

To install via git, run either:

```Shell
git clone {{ ansigenome_info.github_url }}.git {{ role.galaxy_name }}
git submodule add {{ ansigenome_info.github_url }}.git {{ role.galaxy_name }}
```

{% endblock %}{# ))) #}
