snippet date "Current date" w
`!v strftime("%Y-%m-%d")`
endsnippet

snippet tex "Expand tex to TeX" w
TeX
endsnippet

snippet latex "Expand latex to LaTeX" w
LaTeX
endsnippet

snippet sig "My AGPL-3.0-only signature" !b
# SPDX-FileCopyrightText: `date +%Y` `git config --get user.name` <`git config --get user.email`>
#
# SPDX-License-Identifier: AGPL-3.0-or-later
endsnippet

# snippet fo "Fold open" !w
# ## ${1}{{{${2}
# endsnippet

# snippet fc "Fold close" !w
# ## }}}
# endsnippet
