snippet #! "Shebang" !b
#!/usr/bin/env bash

# SPDX-FileCopyrightText: `date +%Y` `git config --get user.name` <`git config --get user.email`>`get_company "\\n## @company Copyright (C) $(date +%Y) "`
#
# SPDX-License-Identifier: AGPL-3.0-or-later

set -o nounset -o pipefail -o errexit


endsnippet
