snippet #! "Shebang" !b
#!/usr/bin/env bash
## @author Copyright (C) `date +%Y` `git config --get user.name` <`git config --get user.email`>`get_company "\\n## @company Copyright (C) $(date +%Y) "`
## @license AGPL-3.0 <https://www.gnu.org/licenses/agpl-3.0.html>

set -o nounset -o pipefail -o errexit


endsnippet
