;; This global config file applies a configuration to all graphs. Any config
;; keys from a graph's logseq/config.edn can used here. A graph's
;; logseq/config.edn overrides config keys in this file except for maps which
;; are merged. As an example of merging, the following global and local configs:
;;   {:shortcuts {:ui/toggle-theme "t z"}}
;;   {:shortcuts {:ui/toggle-brackets "t b"}}
;;
;;  would result in the final config:
;;   {:shortcuts {:ui/toggle-theme "t z"
;;                :ui/toggle-brackets "t b"}}

{:meta/version 1

 ;; Preferred workflow style.
 ;; Value is either ":now" for NOW/LATER style,
 ;; or ":todo" for TODO/DOING style.
 :preferred-workflow :todo

 ;; Specify the date on which the week starts.
 ;; Goes from 0 to 6 (Monday to Sunday), default to 6
 :start-of-week 0

 ;; Extra CodeMirror options
 ;; See https://codemirror.net/5/doc/manual.html#config for possible options
 :editor/extra-codemirror-options {:keyMap "vim" :lineWrapping true}

 ;; Set Bullet indentation when exporting
 ;; default option: tab
 ;; Possible options are for `:sidebar` are
 ;; 1. `:eight-spaces` as eight spaces
 ;; 2. `:four-spaces` as four spaces
 ;; 3. `:two-spaces` as two spaces
 :export/bullet-indentation :two-spaces

 ;; Decide the way to escape the special characters in the page title.
 ;; Warning:
 ;;   This is a dangerous operation. If you want to change the setting,
 ;;   should access the setting `Filename format` and follow the instructions.
 ;;   Or you have to rename all the affected files manually then re-index on all
 ;;   clients after the files are synced. Wrong handling may cause page titles
 ;;   containing special characters to be messy.
 ;; Available values:
 ;;   :file/name-format :triple-lowbar
 ;;     ;use triple underscore `___` for slash `/` in page title
 ;;     ;use Percent-encoding for other invalid characters
 :file/name-format :triple-lowbar
 :journal/page-title-format "EEE yyyy-MM-dd"

 ;; specify the format of the filename for journal files
 :journal/file-name-format "yyyy-MM-dd"
 :preferred-format :markdown
 }
