[G0]
timername=1m
time=60
timercommand=
timerinfo=1m 0s
is_countdown=true
is_recur=false
autostart=false

[G1]
timername=3m
time=180
timercommand=
timerinfo=3m 0s
is_countdown=true
is_recur=false
autostart=false

[G2]
timername=6m
time=360
timercommand=
timerinfo=6m 0s
is_countdown=true
is_recur=false
autostart=false

[G3]
timername=10m
time=600
timercommand=
timerinfo=10m 0s
is_countdown=true
is_recur=false
autostart=false

[G4]
timername=30m
time=1800
timercommand=
timerinfo=30m 0s
is_countdown=true
is_recur=false
autostart=false

[G5]
timername=1h
time=3600
timercommand=
timerinfo=1h 0m 0s
is_countdown=true
is_recur=false
autostart=false

[others]
nowin_if_alarm=false
use_global_command=true
global_command=
repeat_alarm=false
repetitions=1
repeat_interval=10

