{% extends "README.md.j2" %}

{# Badges ((( #}
{% block badges %}
{% if ansigenome_info.travis is defined and ansigenome_info.travis %}
[![Travis CI](http://img.shields.io/travis/{{ scm.user + '/' + role.slug }}.svg?style=flat)](http://travis-ci.org/{{ scm.user + '/' + role.slug }})
{% endif %}
{% if ansigenome_info.galaxy_id is defined and ansigenome_info.galaxy_id %}
{#
[Ansible Galaxy](https://galaxy.ansible.com/list#/roles/{{ ansigenome_info.galaxy_id }})
#}
[![Ansible Galaxy](http://img.shields.io/badge/galaxy-{{ role.galaxy_name | replace('-', '–')}}-660198.svg?style=flat)](https://galaxy.ansible.com/list#/roles/{{ ansigenome_info.galaxy_id }})
{% if galaxy_info.platforms is defined and galaxy_info.platforms %}
[![Platforms](http://img.shields.io/badge/platforms-{{ galaxy_info.platforms | map(attribute='name') | sort | join('%20/%20') | lower }}-lightgrey.svg?style=flat)](#)
{% endif %}
{% endif %}
{% endblock %}{# ))) #}

{# Description ((( #}
{% block synopsis %}
{% if galaxy_info.description is defined %}
{{ galaxy_info.description | trim }}
{% endif %}

{% if ansigenome_info.synopsis is defined %}
{{ ansigenome_info.synopsis | trim }}
{% endif %}
{% endblock %}
{# ))) #}

{# Installation ((( #}
{% block installation %}
{% if ansigenome_info.galaxy_id is defined and ansigenome_info.galaxy_id %}
### Installation

This role requires at least Ansible{% if galaxy_info.min_ansible_version is defined and galaxy_info.min_ansible_version %} `v{{ galaxy_info.min_ansible_version }}`{% endif %}. To install it, run:

    ansible-galaxy install {{ role.galaxy_name }}
{% endif %}

To install via git, run either:

    git clone {{ ansigenome_info.github_url }}.git {{ role.galaxy_name }}
    git submodule add {{ ansigenome_info.github_url }}.git {{ role.galaxy_name }}

{% endblock %}{# ))) #}

{# Authors ((( #}
{% block authors %}
### Authors and license

`{{ role.name }}` role was written by:

{% for credit in authors %}
- {% if credit.url is defined and credit.url %}[{% endif %}{{ credit.name }}{% if credit.url is defined and credit.url %}]({{ credit.url }}){% endif %}{% if credit.email is defined and credit.email %} | [e-mail](mailto:{{ credit.email }}){% endif %}{% if credit.twitter is defined and credit.twitter %} | [Twitter](https://twitter.com/{{ credit.twitter }}){% endif %}{% if credit.github is defined and credit.github %} | [GitHub](https://github.com/{{ credit.github }}){% endif %}
{% endfor %}


License: [{{ license.type | trim }}]({{ license.url | trim }})
{% endblock %}{# ))) #}
